/* line 12, stdin */
header {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 999;
  -webkit-transition: top .5s;
  transition: top .5s;
  height: 65px; }
  @media screen and (max-width: 1200px) {
    /* line 12, stdin */
    header {
      height: 56px; } }

/* line 25, stdin */
.container {
  margin-top: 70px;
  min-height: 800px; }
  @media screen and (min-width: 1200px) {
    /* line 25, stdin */
    .container {
      width: 1200px;
      margin: 15px auto; } }

/* line 34, stdin */
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #FFFFFF !important;
  color: #727272; }

/* line 39, stdin */
.search {
  padding-top: 25px; }

/* line 42, stdin */
div.gb-Menu > ul {
  margin: 0;
  float: right; }
  /* line 45, stdin */
  div.gb-Menu > ul li {
    background-color: transparent;
    margin-left: 40px;
    float: left;
    padding: 0px; }
    /* line 50, stdin */
    div.gb-Menu > ul li:hover {
      background-color: transparent; }
    /* line 53, stdin */
    div.gb-Menu > ul li a {
      color: #727272;
      padding: 18px 0;
      border-bottom: 6px solid transparent;
      text-transform: uppercase;
      background-color: transparent;
      line-height: 24px;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      font-size: 13px;
      font-weight: 500; }
      /* line 64, stdin */
      div.gb-Menu > ul li a:hover {
        border-bottom-color: #FF6F00; }

/* line 70, stdin */
ul, ol {
  list-style: none;
  list-style-image: none; }

/* line 75, stdin */
.gb-Card {
  /*height: 270px;*/ }
  /* line 77, stdin */
  .gb-Card img {
    height: 230px; }

/* line 81, stdin */
md-sidenav {
  z-index: 1000; }

/*Footer*/
/* line 86, stdin */
.footer {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35); }

/* line 89, stdin */
.footer-wrap {
  padding: 25px 0;
  position: relative;
  background-color: #FFFFFF !important; }

/* line 96, stdin */
.gb-social-network div:hover {
  cursor: pointer; }

/* line 101, stdin */
.ng-card-jobs {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 5px; }

/* line 106, stdin */
.gb-banner {
  background: url("../img/home-bg.jpg") no-repeat fixed center center/cover;
  width: 100%;
  height: auto; }

/* line 114, stdin */
.gb-toolbar-header {
  background-color: #E0E0E0;
  color: #1a171b; }

/* line 119, stdin */
.gb-overview {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 700px; }
  @media screen and (max-width: 600px) {
    /* line 119, stdin */
    .gb-overview {
      height: 400px; } }

/* line 127, stdin */
.gb-advertising {
  text-align: left;
  color: #FFFFFF; }
